body {
    background-color: lightskyblue;
    padding: auto;
    color: darkmagenta;
    text-align: center;
    font-size: 16px;
}
body .head .h1 {
    background-color: rgb(0, 0, 0);
    color: darkblue;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
}
body .head .img :hover {
    border: 5px solid rgb(255, 0, 0);
    border-radius: 50%;
    
}
body .section {
    background-color: lightgray;
    color: darkgreen;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}